name: Build & Push ECR

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::AWS_ACCOUNT_ID:role/GithubOIDCRole
          aws-region: ap-southeast-1

      - name: Login ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push
        run: |
          docker build -t tl04-app .
          docker tag tl04-app:latest AWS_ACCOUNT_ID.dkr.ecr.ap-southeast-1.amazonaws.com/tl04-app:latest
          docker push AWS_ACCOUNT_ID.dkr.ecr.ap-southeast-1.amazonaws.com/tl04-app:latest
